:root {
    --primario-50: #e6f0ee;
    --primario-100: #b0d0cb;
    --primario-200: #8abab1;
    --primario-300: #549a8e;
    --primario-400: #338678;
    --primario-500: #006856;
    --primario-600: #005f4e;
    --primario-700: #004a3d;
    --primario-800: #00392f;
    --primario-900: #002c24;

    --secundario-50: #f7eae6;
    --secundario-100: #e7bfb0;
    --secundario-200: #db9f8a;
    --secundario-300: #ca7454;
    --secundario-400: #c05933;
    --secundario-500: #b02f00;
    --secundario-600: #a02b00;
    --secundario-700: #7d2100;
    --secundario-800: #611a00;
    --secundario-900: #4a1400;

    --terciario-50: #fffffd;
    --terciario-100: #fffef7;
    --terciario-200: #fffdf4;
    --terciario-300: #fffcee;
    --terciario-400: #fffceb;
    --terciario-500: #fffbe6;
    --terciario-600: #e8e4d1;
    --terciario-700: #b5b2a3;
    --terciario-800: #8c8a7f;
    --terciario-900: #6b6961;

    --font-sans: "Roboto mono, sans-serif";
    --font-serif: "Roboto, Georgia, 'Times New Roman'";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primario-700);
    padding: 10px;
    color: #fff;
}
.main-intro{
    display: flex;
    flex-direction: column;
    text-align: center;
     margin: 10px;
}
.main-intro-titulo{
    font-size: 28px;
    color: var(--primario-900);
}

.main-intro-paragrafo{
    color: var(--primario-900);
}

.main-first-titulo{
    text-align: center;
    margin: 10px;
    color: var(--secundario-500);
}

.main-first-container{
    display: flex;
    gap: 12px;
    margin: 30px;
    justify-content: center;
}
.main-first-card{
    display: flex;
    background-color: var(--secundario-500);
    color: #fff;
    padding: 20px;
    max-width: 300px;
   }
  
.main-first-card h3{
    text-align: center;
}   

.main-second-titulo{
    text-align: center;
    color: var(--primario-800);
}

.main-second-container{
    display: flex;
    gap: 12px;
    margin: 30px;
    justify-content: center;
}

.main-second-container-card{
    display: flex;
    background-color: var(--primario-700);
    color: #fff;
    padding: 20px;
    max-width: 300px;
}

.main-second-card h3{
    text-align: center;
}  


