@import "../reset.css";

header {
    background-color: var(--primario-700);
    padding-top: 109px;
    padding-bottom: 42px;
    color: var(--terciario-50);
    text-align: center;
    width: 100%;
}

.header {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}

.header_title {
    font-weight: 400;
}

.header_image {
    width: 165px;
    height: 165px;
    border-radius: 348px;
}

.header_button {
    display: flex;
    width: 406px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    background-color: var(--secundario-100);
    border-radius: 4.87px;
    width: 406px;
    height: auto;
    display: flex;
    padding: 14.614px 9.743px;
    justify-content: center;
    align-items: center;
    gap: 8.119px;
    font-size: 30px;
    border: 0;

}

body {
    width: 100%;
    background-color: #E4E490;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_title {
    color: #4A1400;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    padding-top: 96px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: end;
    padding-bottom: 50px;

}

.main_card {
    display: flex;
    padding: 21.109px 24.356px;
    width: 800px;
    margin: auto;
    flex-direction: column;
    text-align: center;
    gap: 10.554px;
    border-radius: 12.99px;
    background-color: #FFF;
    padding-bottom: 20px;
    align-items: center;
}

.card_title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1.5px solid #000000;
    width: 730px;
}

.card_image {
    height: 400px;
    width: auto;
    align-self: stretch;
    aspect-ratio: 367.29/198.95;
    border-radius: 11.884px;
}

.card_description {
    align-self: stretch;
    color: var(--secundario-900);
    font-size: 30px;
    font-weight: 400;
    line-height: 22.73px;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6.50px;
    display: flex;
}

.card_description p {
    color: var(--secundario-600);
    font-weight: 500;
}

.checkbox-list {
    align-self: stretch;
    color: var(--secundario-900);
    font-size: 17.86px;
    font-weight: 500;
    line-height: 22.73px;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6.50px;
    display: flex;

}

.checkbox-list label {
    font-size: 18px;
    display: flex;
    align-items: left;
    gap: 8px;
    color: var(--secundario-600);
}

.card_button {
    display: flex;
    padding: 12.245px;
    justify-content: center;
    align-items: center;
    gap: 12.245px;
    border-radius: 7.347px;
    background-color: var(--primario-300);
    border: 0;
}